services:
  analytics:
    build:
      context: ../analytics-service
      dockerfile: Dockerfile
      target: dev
    command: sh -c "npx prisma migrate dev && npm start"
    depends_on:
      analytics_service_db:
          condition: service_healthy
      kafka:
          condition: service_started
    ports:
      - "5001:5001"
    

  postgres:
    volumes:
      - travellog_db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

  travellog:
    build:
      context: ../travellog-service
      dockerfile: Dockerfile
      target: dev
    volumes:
      - ../travellog-service/src:/app/src
      - ../travellog-service/.env:/app/.env
      - /app/node_modules
    command: sh -c "npx prisma migrate dev && npm start"
    ports:
      - "4000:4000"
    depends_on:
      redis:
          condition: service_started
      kafka:
          condition: service_started
      postgres:
          condition: service_healthy
    
  # analytics:
  #   build:
  #     context: ../analytics-service
  #     dockerfile: Dockerfile
  #   container_name: analytics
  #   env_file:
  #     - ../analytics-service/.env
  #   depends_on:
  #     - postgres_analytics
  #     - kafka
  #   ports:
  #     - "5000:5000"

volumes:
  # pgdata_analytics:
  travellog_db_data: